<div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="texto animate__animated animate__fadeIn">
                <h2>Bienvenidos al Hotel ABCentral</h2>
            </div>  
            <div class="texto2 animate__animated animate__fadeIn animate__delay-1s">
                <h1>VILLAS Y SUITES</h1>
            </div>  
            

            <img src="../../../assets/images/Slider_1.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="../../../assets/images/Slider_2.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="../../../assets/images/Slider_3.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="../../../assets/images/Slider_4.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="../../../assets/images/slider_5.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
    


</div>

<div class="mineContainer">
    <div class="row">
        <div class="caja col-8 pt-2 pb-2">
            <article>
                <p>El Hotel ABCentral inspira su diseño en un juego de letras y símbolos que lo convierte en un espacio
                    único y
                    divertido para disfrutar en pareja. Nuestras habitaciones han sido creadas para dejar volar la
                    imaginación y
                    hacer de su estancia una increíble experiencia.</p>
                <p>Nuestra misión se concentra en ofrecer todos los servicios y comodidades para vivir los mejores
                    momentos…no
                    esperes más y atrévete a ser diferente.</p>
            </article>


        </div>
        <div class="col-4">
            <img src="../../../assets/images/logo_texto_abcentral.png" alt="">
        </div>
    
    </div>
    <div class="row">
        <div class="col-8 mt-2">
            
        <a class="socialNetworksInicio"><i class="fab fa-facebook-f"></i> </a>
        <a class="socialNetworksInicio"><i class="fab fa-twitter"></i></a>
        <a class="socialNetworksInicio"><i class="fas fa-envelope"></i></a>

        <div class="row ">
            <div class="col mt-5"><a class="btn1 float-left" [routerLink]='["/aviso-de-privacidad"]'>AVISO DE PRIVACIDAD</a></div>
            <div class="col mt-5 "> <a class="btn2 float-right">BOLSA DE TRABAJO</a></div>

        </div>
        </div>
    </div>

</div>