h2{
    width: 600px;
    font-size: 35px;
    color: white;
    background-color:rgba(0, 0, 0,0.5);
    text-align: center;
    padding: 10px 10px 10px 10px;
}
h1{
    font-size: 80px ;
    color: white;
    background-color:rgba(0, 0, 0,0.5);

    padding: 10px 20px 10px 20px;
    margin-top: 40px;
}
.texto{
    position:absolute; 
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);

}

.texto2{
    position:absolute; 
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
}