<div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="texto animate__animated animate__fadeIn">
                <h2>Bienvenidos al Hotel ABCentral</h2>
            </div>  
            <div class="texto2 animate__animated animate__fadeIn animate__delay-1s">
                <h1>VILLAS Y SUITES</h1>
            </div> 

            <img src="../../../assets/images/Slider_1.jpg" class="image-home-carousel" alt="...">
        </div>
        <div class="carousel-item" *ngFor="let image of images_carousel">
            <img src="{{image}}" class="image-home-carousel" alt="...">
        </div>
    </div>
</div>

<div class="mineContainer">
    <div class="row">
        <div class="caja col-md-8 col-12 pt-2 pb-4 mb-4">
            <article>
                <p>El Hotel Clone presenta un diseño único y divertido, inspirado en una mezcla de letras y símbolos, convirtiéndolo en el lugar perfecto para disfrutar en pareja. Nuestras habitaciones están diseñadas para estimular la imaginación y hacer de su estancia una experiencia inolvidable.</p>
                <p>Nuestra misión es proporcionar todos los servicios y comodidades necesarios para que vivas momentos excepcionales. No esperes más y atrévete a ser diferente con nosotros.</p>
            </article>
        </div>
        <div class="col-md-4 col-12 d-flex align-items-center justify-content-center">
            <div id="logo-home">
                <h1>
                    <a [routerLink]='["/"]'><span class="h-letter">H</span>otel <span class="clone-text">clone</span></a>
                </h1>
            </div>
        </div>
    
    </div>
    <div class="row">    
        <div class="col-12 mt-5">
            <a class="btn1 float-left w-100 text-center col-lg-3" [routerLink]='["/aviso-de-privacidad"]'>AVISO DE PRIVACIDAD</a></div>
    </div>

</div>