.parallax{
    background-image: url(../../../assets/images/parallax-habitacion2.jpg);
    background-size: 2200px;
    height: 475px;
}

.gap{
    height: 100px;
}
.gap h3{
    width: 150px;
    display: block;
    background-color: black;
    color: white;
    font-weight: 600px;
    margin: 0px auto;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
}

.gap img{
    display: block;
    margin: 0px auto;
}

.gap .hrs{
    margin-top: -20px;
    margin-bottom: 40px;
}
.video{
    text-align: center ;
}

.gap .h32{
    width: 300px;
    font-size: 20px;
}

.two{
    margin-top: -100px;

    background-color: #F6F6F6;
}

.galeria{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    
}
/* .galeria >div{
    width: 100%; 
    height: 100%;
} */

.galeria img{
    width:100%; 
    height: 100%;
    
}