
<div class="parallax mb-5"></div>
<div class="gap">
    <div class="row">
        <div class="col-12">
            <h3>VIDEO</h3>
            <hr class="hrs">
            <img src="../../../assets/images/aster.png" class="wow animate__animated animate__fadeInLeft mb-3">

        </div>
    </div>
</div>
<div class="two">
    <div class="mineContainer">

        <div class="row">
    
            <div class="col-12">
                <div> 
                    <video controls preload="metadata" class="video w-100">
                        <source src="http://www.example.com/waterfall-video.mp4" type="video/webm"/>
                        Video not supported.
                    </video>
                </div>
    
    
            </div>
    
        </div>
    </div>
    
    
</div>
<div class="gap">
    <div class="row">
        <div class="col-12">
            <h3 class="h32">GALERIA FOTOGRÁFICA</h3>
            <hr class="hrs">
            <img src="../../../assets/images/aster.png" class="wow animate__animated animate__fadeInLeft mb-3">

        </div>
    </div>
</div>

<div class="galeria">

        <a href="../../../assets/images/galeria/1.jpg" data-lightbox="hotel" ><img  src="../../../assets/images/galeria/1.jpg" alt=""></a>
        <a href="../../../assets/images/galeria/2.jpg" data-lightbox="hotel" > <img src="../../../assets/images/galeria/2.jpg" alt=""></a>
        <a href="../../../assets/images/galeria/3.jpg" data-lightbox="hotel" > <img src="../../../assets/images/galeria/3.jpg" alt=""></a>
        <a href="../../../assets/images/galeria/4.jpg" data-lightbox="hotel" > <img src="../../../assets/images/galeria/4.jpg" alt=""></a>
        <a href="../../../assets/images/galeria/5.jpg" data-lightbox="hotel" ><img  src="../../../assets/images/galeria/5.jpg" alt=""></a>
        <a href="../../../assets/images/galeria/6.jpg" data-lightbox="hotel" > <img src="../../../assets/images/galeria/6.jpg" alt=""></a>
        <a href="../../../assets/images/galeria/7.jpg" data-lightbox="hotel" > <img src="../../../assets/images/galeria/7.jpg" alt=""></a>
        <a href="../../../assets/images/galeria/8.jpg" data-lightbox="hotel" > <img src="../../../assets/images/galeria/8.jpg" alt=""></a>
        <a href="../../../assets/images/galeria/9.jpg" data-lightbox="hotel" ><img  src="../../../assets/images/galeria/1.jpg" alt=""></a>
        <a href="../../../assets/images/galeria/10.jpg" data-lightbox="hotel" > <img src="../../../assets/images/galeria/2.jpg" alt=""></a>
       
   

</div>