<div class="footerContent">
    <div class="row">
      <div class="col mt-5 mb-5">
        <img src="../assets/images/logo_abcentral_home2.png" class="mb-3">
        <p>Luis Echeverría Álvarez #34, Col. Melchor Muzquiz. </p>
        <p>Ecatepec de Morelos, Edo. De Méxic.</p>
        <p>Email: contacto@hotelabcentral.com</p>
        <p>Tels: 5545964035 / 5557964037 / 5527748811</p>
        <a class="socialNetworksInicio"><i class="fab fa-facebook-f"></i> </a>
        <a class="socialNetworksInicio"><i class="fab fa-twitter"></i></a>
        <a class="socialNetworksInicio"><i class="fas fa-envelope"></i></a>
      </div>
    </div>
  </div>
 <a class="goingUp" href="#"><i class="fas fa-arrow-circle-up"></i></a>
 <a class="messenger" href="#"><i class="fab fa-facebook-messenger"></i></a>

  <div class="copy">
    &copy; Todos los derechos reservados para Hotel ABCentral, página replicada por Cristian Hernández
  </div>