
/* MENU */
.admin-view {
    background-color: black;
    height: 80px;
    color: white;

    .font-30 {
        font-size: 30px;
        margin-left: 0.3em;
    }
    .cursor-pointer {
        cursor: pointer;
    }
}
#menu {
    #logo {
        display: block;
        
        a {
            color: white !important;
            text-decoration: none;
        }
        .h-letter {
            color: #ED1C8F;
            font-size: 80px;
    
            @media(max-width: 500px){
                font-size: 40px; 
            }
        }
    
        .clone-text {
            font-size: 20px;
        }
        float: left;
    }
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    height: 120px;
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    z-index: 2;
    padding: 0 1.7em;

    > ul {
        display: flex;
        align-items: center;
        height: 120px;
        margin: 0px;
        @media(max-width: 1300px){
            display: none;
        }
        .SERVICIOS {
            position: relative;
            &:hover {
                .submenu {
                    display: block;
                }
            }
        }
        li {
            display: flex;

            &:first-child {
                a {
                    border-left: 0px solid white;
                }
            }

            a {
                color: white;
                padding-left:12px ;
                padding-right: 12px;
                border-left: 1px solid white ;
                text-decoration: none;
                letter-spacing: 2px;
                font-size: 16px;
                font-weight: bolder;

                &:hover{
                    color: #ED1C8F;
                    transition: all 700ms;
                    text-shadow: 2px 0px 5px black ;
                    cursor: pointer;
                }
            }

            .submenu {
                top: 1.4em;
                position: absolute;
                display: none;
                background-color: rgba(0,0,0,0.8);
                width: auto;
                height: auto;
                padding-top: 0.5em;
                li {
                    padding: 1em 0;
                    display: flex;
                    flex-direction: column;
                    white-space: nowrap;
                }
                &:hover {
                    display: block !important;
                }
            }
            .submenu-toggle {
                background-color: red;
            }
        }
        
    }
    .item-toggle-navbar {
        color: white;
        font-size: 40px;
        display: none;
        cursor: pointer;
        @media(max-width: 1300px){
            display: block;
        }
    }
}

#menu > a:hover,.actived{
    color: #ED1C8F !important;
}
#menu .socialNetworks{
    border-left: 0px solid white ;
    font-size: 25px;
    color: rgb(141, 140, 140);   
}

#menu .avatar-user {
    display: flex;
    border-radius: 100%;
    background-color: gray;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.sidebar-responsive {
    background-color: black;
    position: fixed;
    width: 300px;
    right: 0;
    top: 0;
    height: 100%;
    padding: 1em;
    @media(min-width: 1300px){
        display: none !important;
    }


    .close-icon {
        color: white;
        font-size: 30px;
        position: absolute;
        top: 0.5em;
        right: 0.5em;
        cursor: pointer;
    }

    ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        margin-top: 2em;
        font-size: 20px;
        li {
            padding: 1em 0;
            list-style: none;
            cursor: pointer;
            width: 100%;

            a {
                color: white;
                width: 100%;
            }
            .subItem {
                width: 100%;
                white-space: nowrap;
            }
            .mt-45 {
                margin-top: 2em;
            }
        }
    }
}