.main-container-admin-view {
    background-color: #282828;
    color: white;
    height: 100vh;
    padding: 0 1em;

}

.img-custom-card-room {
    width: 100%;
    height: 250px;
    object-fit: cover;

}
.card {
    cursor: pointer;
    &:hover {
        .container-trash-icon {
            display: block;
        }
    }
    .container-trash-icon {
        position: absolute;
        top: 0.5em;
        right: 0.5em;
        background-color: white;
        font-size: 30px;
        cursor: pointer;
        display: none;
    }
}