<div class="parallax mb-5"></div>

<h2 class="mb-5 p-3 mt-4">Desde condones hasta  juguetes sexuales tenemos venta de  varios artículos para todos los gustos.</h2>
<img src="../../../assets/images/aster.png" class="wow animate__animated animate__fadeInLeft mb-3">
<div class="mineContainerMenuSex">
    <img src="../../../assets/images/menu-sex/1-1.jpg" class="wow animate__animated animate__fadeInLeft mb-3">
    <img src="../../../assets/images/menu-sex/2-1.jpg" class="wow animate__animated animate__fadeInLeft mb-3">
    <img src="../../../assets/images/menu-sex/3-1.jpg" class="wow animate__animated animate__fadeInLeft mb-3">
    <img src="../../../assets/images/menu-sex/4-1.jpg" class="wow animate__animated animate__fadeInLeft mb-3">
    <img src="../../../assets/images/menu-sex/5-1.jpg" class="wow animate__animated animate__fadeInLeft mb-3">

</div>