
@import '~bootstrap/dist/css/bootstrap.min.css';


*{
    padding: 0px;
    margin: 0px;
    font-family:Arial, Helvetica, sans-serif;
}
.nospacing{
    padding: 0px;
    margin: 0px;
}
/* GOING UP BUTTOM */
.goingUp{
    position: fixed;
    top: 750px;
    right: 30px;
    font-size: 60px;
    color: rgb(141, 140, 140);
    z-index: 2;

}

.goingUp:hover{
    color: #ED1C8F;
    cursor: pointer;
    transition: all 500ms;
}

/* MESSENGER FIXER */

/* CLASE ACTIVA PRESS */


.messenger{
    position: fixed;
    top: 850px;
    right: 25px;
    font-size: 70px;
    color:#0084FF;
    z-index: 2;

}

/* .submenu-login {
    position: absolute;
    width: 150px;
    right: 0em;
    margin-top: 1em;
    background-color: gray;
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    color: white;
    text-align: center;
    font-weight: bold;
} */
.submenu-login > li {
    line-height: normal;
    /* padding: 1em; */
    list-style: none;
    overflow: hidden;
}
.submenu-login > li:first-child:hover {
    background-color: black;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    cursor: pointer;
}
.submenu-login > li:last-child:hover {
    background-color: black;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    cursor: pointer;
}
/* SUBMENU */
.submenu{
    display: none;
    position: absolute;
    background-color: rgba(0,0,0,0.8);
    height: 150px;
}

.submenu li{
    width: 100%;
    line-height: 80px;
    list-style: none;
}
.submenu li a{
    padding-left:15px ;
    padding-right: 15px;
    text-decoration: none;
    color: rgb(141, 140, 140);
    letter-spacing: 2px;
    font-size: 16px;
    font-weight: 500;
}

.submenu li a:hover{
   color: white;
   transition: all 500ms;
}

/* #menu ul li:hover ul{
    display: block;
} */

.checkbtn{
    color:rgb(141, 140, 140);
    font-size: 30px;
    cursor: pointer;
    float: left;
    line-height: 115px;
    margin-right: 10px;
    display: none;
}
#check{
    display: none;
}
/* RESPONSIVE */
/* @media(max-width:660px){
    .carousel img{
    background-position-y: 150px;
    background-position: top;
    }
} */

/* @media(max-width:1625px){
    .carousel img{
    }
} */
.position-relative {
    position: relative;
}
/* @media(max-width:1355px){
    .checkbtn{
        display: block;
        margin-left:30px ;
    }
    .carousel-item,.carouselExampleIndicators,.carousel,
    .carousel-indicators,.carousel-inner{
        height: fit-content;
        z-index: 1;
        
    }
    #menu{
        position: relative;
        z-index: 2;
        background-color: black;
        border: 0px solid white !important;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: black;
        top: 120px;
        text-align: center;
        left:-100%;
        transition: all 500ms;
    }
    
    #logo{
        width: 90%;
        
    }
    #logo a img{
        display: block;
        margin: 0px auto;

    }
    nav ul li{
        width: 100%;
        display: block;
        
    }

    nav ul li a{

        display: block;
        border: 0px solid white !important;
        border-top: 1px solid white !important;
    }

    #check:checked ~ ul{
        left: 0;
    }


}
 */


/* CARRUSEL */

.carousel img{
    height: 95%;
}


.btn{
    position: relative;
    color: white;
    top:700px;
    left:900px;
    background-color: white;
}

/* CONTENEDOR DE PRINCIPAL */

.mineContainer{
    width: 70%;
    margin: 100px auto;
}
.mineContainer .caja{
    border-top: 1px solid #1E73BE !important;
    border-bottom: 1px solid #1E73BE !important;
    
}
.mineContainer p{
    text-align: justify;
    font-size: 20px;
    font-weight: 500;
}
.mineContainer img{
    width: 100%;
    margin-top: 20px;
}

.socialNetworksInicio{
    font-size: 25px;
    color: rgb(141, 140, 140) ;
    margin-right: 20px;
}
.socialNetworksInicio:hover{
    color: #ED1C8F;
    transition: all 500ms;
}
.btn1{
    color: #444 !important;
    background-color: #ccc;
    padding: 20px;
    border-radius: 50px;
    text-decoration: none !important;
    border:2px solid #444;
    letter-spacing: 2px;
    
}
.btn1:hover{
    cursor: pointer;
    background-color: rgb(182, 179, 179);
    transition: all 500ms;
}

.btn2{
    color: white !important;
    background-color: #ED1C8F;
    padding: 20px;
    border-radius: 50px;
    text-decoration: none !important;
    border:2px solid #444;
    letter-spacing: 2px;
    
}
.btn2:hover{
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    transition: all 500ms;
}
/* FOOTER O PIE DE PAGINA */

footer{
    background-color: #282828;
    height: 400px;
}

.footerContent{
    width: 70%;
    margin: 0px auto;
   
}

.footerContent p{
    color: rgb(141, 140, 140) ;
}
.copy{
    height: 40px;
    background-color: rgba(0,0,0);
    color: rgb(141, 140, 140);
    text-align: center;
    line-height: 40px;
}


