
*{
    padding: 0px;
    margin: 0px;
    font-family:Arial, Helvetica, sans-serif;
}
.nospacing{
    padding: 0px;
    margin: 0px;
}
/* GOING UP BUTTOM */
.goingUp{
    position: fixed;
    top: 750px;
    right: 30px;
    font-size: 60px;
    color: rgb(141, 140, 140);
    z-index: 2;

}

.goingUp:hover{
    color: #ED1C8F;
    cursor: pointer;
    transition: all 500ms;
}

/* MESSENGER FIXER */

/* CLASE ACTIVA PRESS */


.messenger{
    position: fixed;
    top: 850px;
    right: 25px;
    font-size: 70px;
    color:#0084FF;
    z-index: 2;

}
/* MENU */
#menu{
    width: 100%;
    height: 120px;
    background-color: rgba(0,0,0,0.8);
    position: fixed;
    z-index: 2;
}
#menu >ul{
    
    margin: 0px auto;
    float: right;
    margin-right:60px ;
}

#menu >ul >li{
    
    
    display: inline-block;
    line-height: 115px;
}

#menu >ul >li >a{
    color: white;
    padding-left:12px ;
    padding-right: 12px;
    border-left: 1px solid white ;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 16px;
    font-weight: bolder;
}
#menu >ul >li >a:hover{
    color: #ED1C8F;
    transition: all 700ms;
    text-shadow: 2px 0px 5px black ;
    cursor: pointer;
}

#menu > a:hover,.actived{
    color: #ED1C8F !important;
}
#menu .socialNetworks{
    border-left: 0px solid white ;
    font-size: 25px;
    color: rgb(141, 140, 140);
    
}

/* SUBMENU */
.submenu{
    display: none;
    position: absolute;
    background-color: rgba(0,0,0,0.8);
    height: 150px;
}

.submenu li{
    width: 100%;
    line-height: 80px;
    list-style: none;
}
.submenu li a{
    padding-left:15px ;
    padding-right: 15px;
    text-decoration: none;
    color: rgb(141, 140, 140);
    letter-spacing: 2px;
    font-size: 16px;
    font-weight: 500;
}

.submenu li a:hover{
   color: white;
   transition: all 500ms;
}

#menu ul li:hover ul{
    display: block;
}

#logo{
    width: 350px;
    float: left;
    margin-left: 50px;
    margin-top: 5px;
}

#logo img{
    width: 310px;
}


.checkbtn{
    color:rgb(141, 140, 140);
    font-size: 30px;
    cursor: pointer;
    float: left;
    line-height: 115px;
    margin-right: 10px;
    display: none;
}
#check{
    display: none;
}
/* RESPONSIVE */
/* @media(max-width:660px){
    .carousel img{
    background-position-y: 150px;
    background-position: top;
    }
} */

/* @media(max-width:1625px){
    .carousel img{
    }
} */
@media(max-width:1355px){
    .checkbtn{
        display: block;
        margin-left:30px ;
    }
    .carousel-item,.carouselExampleIndicators,.carousel,
    .carousel-indicators,.carousel-inner{
        height: fit-content;
        z-index: 1;
        
    }
    #menu{
        position: relative;
        z-index: 2;
        background-color: black;
        border: 0px solid white !important;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: black;
        top: 120px;
        text-align: center;
        left:-100%;
        transition: all 500ms;
    }
    
    #logo{
        width: 90%;
        
    }
    #logo a img{
        display: block;
        margin: 0px auto;

    }
    nav ul li{
        width: 100%;
        display: block;
        
    }

    nav ul li a{

        display: block;
        border: 0px solid white !important;
        border-top: 1px solid white !important;
    }

    #check:checked ~ ul{
        left: 0;
    }


}


@media(max-width:1163px){
    #logo{
        width: 85%;
        
    }
}

@media(max-width:775px){
    #logo{
        width: 75%;
        
    }
}


@media(max-width:500px){
    #logo img{
        width: 250px;
        
    }
    #logo {
        width: 60%;
        margin-top: 15px;
    }

}

@media(max-width:380px){
    #logo img{
        width: 200px;
        
    }
    #logo {
        width: 50%;
        margin-top: 20px;
    }

}

@media(max-width:325px){
    #logo img{
        width: 150px;
        
    }
    #logo {
        width: 45%;
        margin-top: 30px;
    }

}

/* CARRUSEL */

.carousel img{
    height: 95%;
}


.btn{
    position: relative;
    color: white;
    top:700px;
    left:900px;
    background-color: white;
}

/* CONTENEDOR DE PRINCIPAL */

.mineContainer{
    width: 70%;
    margin: 100px auto;
}
.mineContainer .caja{
    border-top: 1px solid #1E73BE !important;
    border-bottom: 1px solid #1E73BE !important;
    
}
.mineContainer p{
    text-align: justify;
    font-size: 20px;
    font-weight: 500;
}
.mineContainer img{
    width: 100%;
    margin-top: 20px;
}

.socialNetworksInicio{
    font-size: 25px;
    color: rgb(141, 140, 140) ;
    margin-right: 20px;
}
.socialNetworksInicio:hover{
    color: #ED1C8F;
    transition: all 500ms;
}
.btn1{
    color: #444 !important;
    background-color: #ccc;
    padding: 20px;
    border-radius: 50px;
    text-decoration: none !important;
    border:2px solid #444;
    letter-spacing: 2px;
    
}
.btn1:hover{
    cursor: pointer;
    background-color: rgb(182, 179, 179);
    transition: all 500ms;
}

.btn2{
    color: white !important;
    background-color: #ED1C8F;
    padding: 20px;
    border-radius: 50px;
    text-decoration: none !important;
    border:2px solid #444;
    letter-spacing: 2px;
    
}
.btn2:hover{
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    transition: all 500ms;
}
/* FOOTER O PIE DE PAGINA */

footer{
    background-color: #282828;
    height: 400px;
}

.footerContent{
    width: 70%;
    margin: 0px auto;
   
}

.footerContent p{
    color: rgb(141, 140, 140) ;
}
.copy{
    height: 40px;
    background-color: rgba(0,0,0);
    color: rgb(141, 140, 140);
    text-align: center;
    line-height: 40px;
}


