<div class="parallax"></div>

<div class="mineContainerPromociones">
    <div class="row mt-5 pb-4">
        <div class="col-lg-6 col-sm-12"> <img src="../../../assets/images/promociones/1.jpg"
                class="w-100 wow animate__animated animate__fadeInLeft">
        </div>

        <div class="col-lg-6 col-sm-12">
            <h2>Conoce las NUEVAS habitaciones</h2>
            <img src="../../../assets/images/aster.png" class="w-100 wow animate__animated animate__fadeInLeft">
            <p class="mt-3 pt-3 pb-3 fp">Este año cambiamos para que sigas compartiendo momentos especiales con nostros
            </p>
            <p class="mt-3 sp">Atreve a descubrir un Hotel ABC remodelado para ti, para que disfrutes de nuestras villas
                y suites y
                jacuzzy y la increible villa con alberca.</p>
        </div>
    </div>
    <div class="row mt-5 pb-4">

        <div class="col-lg-6 col-sm-12"> <img src="../../../assets/images/promociones/PuntosABC.jpg"
                class="w-100 wow animate__animated animate__fadeInLeft">
        </div>

        <div class="col-lg-6 col-sm-12">
            <h2 class="st">TARJETA DE LEALTAD</h2>
            <img src="../../../assets/images/aster.png" class="w-100 wow animate__animated animate__fadeInLeft">
            <p class="mt-3 pt-3 pb-3 fp">Si eres cliente frecuente de ABCentral compra tu Tarjeta de Lealtad, tiene un
                costo de $50 pesos y viene precargada con 50 puntos equivalentes a $50 pesos listos para usarse. Al
                presentar tu tarjeta en cada visita acumularás el 5% de todo* tu consumo en forma de puntos, los cuales
                puedes utilizar como forma de pago para habitaciones o canjear por cupones de alimentos y bebidas.</p>
            <p class="mt-3 sp">Atreve a descubrir un Hotel ABC remodelado para ti, para que disfrutes de nuestras villas
                y suites y
                jacuzzy y la increible villa con alberca.</p>
        </div>
    </div>
    <div class="row mt-5 pb-4">
        <div class="col-lg-6 col-sm-12"> <img src="../../../assets/images/promociones/1.jpg"
                class="w-100 wow animate__animated animate__fadeInLeft">
        </div>

        <div class="col-lg-6 col-sm-12">
            <h2>¡Paquete AMOR!</h2>
            <img src="../../../assets/images/aster.png" class="w-100 wow animate__animated animate__fadeInLeft">
            <p class="mt-3 pt-3 pb-3 fp">Por sólo $400 pesos adicionales al precio de la habitación añade decoración
                romántica con pétalos y velas, botella de vino blanco espumoso Moscato de 750ml y un postre.
            </p>
            <p class="mt-3 sp">¿Buscas un momento romantico?</p>
        </div>
    </div>
    <div class="row mt-5 pb-4">
        <div class="col-lg-6 col-sm-12"> <img src="../../../assets/images/promociones/ABC_primavera_WEB.jpg"
                class="w-100 wow animate__animated animate__fadeInLeft">
        </div>

        <div class="col-lg-6 col-sm-12">
            <h2>Promo de TEMPORADA</h2>
            <img src="../../../assets/images/aster.png" class="w-100 wow animate__animated animate__fadeInLeft">
            <p class="mt-3 pt-3 pb-3 fp">Disfruta de esta gran promocion de pareja
            </p>
            <p class="mt-3 sp">¡Completa tu instancia con nuestra promoción del mes!</p>
        </div>
    </div>
</div>