<section class="main-container-admin-view pt-10">
  <div class="w-100 d-flex justify-content-center flex-wrap">
    <div class="w-100 d-flex justify-content-center">
      <button class="p-2 rounded-lg mb-4" (click)="open_add_images = true" *ngIf="!open_add_images">Agregar nuevas imagenes</button>
    </div>
    <div class="grid-images">
      <div class="grid-item position-relative" *ngFor="let img of images">
        <img [src]="img.filePath" alt="" class="w-100">

        <div class="container-hover-delete">
          <button type="button" class="btn btn-danger" (click)="openModal(template, img.id)">Eliminar</button>
        </div>
      </div>
    </div>
  </div>

  <ng-template #template>
    <div class="modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body text-center">
          <p>¿Estás seguro de que quieres eliminar esta imagen?</p>
          <button type="button" class="btn btn-danger" (click)="confirm()">Sí, la quiero eliminar.</button>
          <button type="button" class="btn btn-secondary ms-3" (click)="decline()">No</button>
        </div>
      </div>
    </div>
  </ng-template>
</section>
