
.parallax{
    background-image: url(../../../assets/images/rooms-parallax.webp);
    background-position: top left;
    height: 475px;
}


.two{
    background-color: #F6F6F6;
}

.a h1{
    font-size: 60px;
    margin-bottom: -15px;
}

.a p{
    padding-bottom:10px;
    border-bottom: 1px solid #ccc;
    font-size: 21px;
}

.a ul{
    margin-left: 20px;
    font-style: italic;
    font-size: 20px;
    color:rgb(141, 140, 140);
}
.img-250 {
    height: 250px;
    object-fit: cover;
}