.parallax{
    background-image: url(../../../assets/images/alimentos-y-bebidas/SliderFotos_restaurante.jpg);
    background-size: 2200px;
    height: 475px;
}

h2{
    font-size: 35px;
    border-top: 2px solid #ED1C8F;
    border-bottom: 2px solid #ED1C8F;
}

h1,h2{
    text-align: center;
    width: 70%;
    margin: 0px auto;
}

h1{
    display: block;
    font-size: 60px;    

}
img{
    display: block;
    margin: 0px auto;
    width: 40%;
}

.mineContainerAlimentos{
    width: 70%;
    margin: 0px auto;
}

.mineContainerAlimentos img{
    width: 75%;
}

