.parallax{
    background-image: url(../../../assets/images/rooms-parallax.webp);
    background-size: 2200px;
    height: 475px;
}

h2{
    font-size: 35px;
    border-top: 2px solid #ED1C8F;
    border-bottom: 2px solid #ED1C8F;
}

h1,h2{
    text-align: center;
    width: 70%;
    margin: 0px auto;
}

h1{
    display: block;
    font-size: 60px;    

}
img{
    display: block;
    margin: 0px auto;
    width: 40%;
}

.mineContainerAlimentos{
    width: 70%;
    margin: 0px auto;
    background-color: #ccc;
    min-height: 700px;
    margin-bottom: 1em;
}

.mineContainerAlimentos img{
    width: 75%;
}
.object-fit-cover {
    object-fit: cover;
    height: 100%;
}

